@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">@ViewBag.User.Name</div>
        <div class="card-body">
            <p class="card-text">@ViewBag.User.Surname</p>
        </div>
        <div class="card-footer">
            <p class="card-text">@ViewBag.User.Number</p>
        </div>
    </div>
</div>